apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  labels:
    app: sample-tomcat
    app.kubernetes.io/name: sample-tomcat
  name: sample-tomcat
spec:
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: sample-tomcat
  strategy:
    blueGreen:
      activeService: sample-tomcat
      autoPromotionEnabled: true
      autoPromotionSeconds: 60
      previewService: sample-tomcat-preview
  template:
    metadata:
      annotations:
        prometheus.io/port: '8081'
        prometheus.io/scrape: 'true'
      labels:
        app: sample-tomcat
        app.kubernetes.io/name: sample-tomcat
        version: v0.4.24
    spec:
      containers:
      - env:
        - name: CONFIGMAP_HASH
          value: 5a3c5e2244cea75d80375d4455ba01c3
        - name: SECRET_HASH
          value: ''
        envFrom:
        - configMapRef:
            name: sample-tomcat
        image: nalbam/sample-tomcat:v0.4.24
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 20
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: sample-tomcat
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8081
          name: tcp-jmx
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 20
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 550m
            memory: 1Gi
          requests:
            cpu: 500m
            memory: 1Gi
